<nb-card>
  <nb-card-header>
    Add users
    <div class="row">
        <div class="col-sm-4 col-xs-2">
          <button nbButton shape="rectangle" size="small" (click)="addUser()">Add Users</button>      
        </div>
        <div class="col-sm-4 col-xs-6">
          <input type="number" [(ngModel)]="usersToAdd" nbInput fullWidth placeholder="Users to add">  
        </div>
      </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" style="margin-top: 10px;" *ngFor="let user of members; let i = index">
      <div class="input-group col-sm-4">
        <input type="email" [(ngModel)]="user.email" nbInput fullWidth placeholder="User Email">
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownPermsList"
        [(ngModel)]="user_perms[i]"
        [settings]="dropdownPermsSettings"
        >
        </angular2-multiselect>  
      </div>

      <div class="col-sm-2">
          <angular2-multiselect 
          [data]="dropdownRolesList"
          [(ngModel)]="user_roles[i]"
          [settings]="dropdownRolesSettings"
          >
          </angular2-multiselect>  
        </div>

      <nb-actions class="col-sm-2" size="medium">   
        <nb-action icon="nb-close" (click)="removeUser(i)" nbTooltip="Remove User" nbTooltipPlacement="top"></nb-action> 
      </nb-actions>
    </div>
  </nb-card-body>
</nb-card>