<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-4" style="display: flex; justify-content: flex-start;">
        <input type="number" [(ngModel)]="usersToAdd" nbInput placeholder="Users to add">  
        <nb-actions size="large">
          <nb-action style="vertical-align: middle;" icon="fas fa-plus-square" (click)="addUser()" nbTooltip="Add User" nbTooltipPlacement="top"></nb-action> 
        </nb-actions>
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownPermsList"
        [(ngModel)]="rootPermsSelectedItems"
        [settings]="dropdownPermsSettings"
        >
        </angular2-multiselect> 
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownRolesList"
        [(ngModel)]="rootRolesSelectedItems"
        [settings]="dropdownRolesSettings"
        >
        </angular2-multiselect> 
      </div>
      
    </div>
  </nb-card-header>
  <nb-card-body>
    <hr style="margin-top: 0px;">
    <div class="row user-specs" style="margin-top: 1em;" *ngFor="let user of members; let i = index">
      <div class="input-group col-sm-4">
        <input type="email" [(ngModel)]="user.email" nbInput fullWidth placeholder="User Email">
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownPermsList"
        [(ngModel)]="user_perms[i]"
        [settings]="dropdownPermsSettings"
        >
        </angular2-multiselect>  
      </div>

      <div class="col-sm-3">
          <angular2-multiselect 
          [data]="dropdownRolesList"
          [(ngModel)]="user_roles[i]"
          [settings]="dropdownRolesSettings"
          >
          </angular2-multiselect>  
        </div>

      <div class="col-sm-1" style="display: flex; justify-content: center;">
        <nb-actions size="small">   
          <nb-action icon="nb-close" (click)="removeUser(i)" nbTooltip="Remove User" nbTooltipPlacement="top"></nb-action> 
        </nb-actions>
      </div>
      
    </div>
  </nb-card-body>
</nb-card>