<nb-card>
  <nb-card-header>
    Add users
    <div class="row">
      <div class="col-sm-4" style="display: flex; justify-content: space-between;">
        <button nbButton shape="rectangle" size="small" (click)="addUser()">Add Users</button>      
        <input type="number" [(ngModel)]="usersToAdd" nbInput style="width: 50%;" placeholder="Users to add">  
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownPermsList"
        [(ngModel)]="rootPermsSelectedItems"
        [settings]="dropdownPermsSettings"
        >
        </angular2-multiselect> 
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownRolesList"
        [(ngModel)]="rootRolesSelectedItems"
        [settings]="dropdownRolesSettings"
        >
        </angular2-multiselect> 
      </div>
      
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row user-specs" style="margin-top: 1em;" *ngFor="let user of members; let i = index">
      <div class="input-group col-sm-4">
        <input type="email" [(ngModel)]="user.email" nbInput fullWidth placeholder="User Email">
      </div>
      <div class="col-sm-4">
        <angular2-multiselect 
        [data]="dropdownPermsList"
        [(ngModel)]="user_perms[i]"
        [settings]="dropdownPermsSettings"
        >
        </angular2-multiselect>  
      </div>

      <div class="col-sm-3">
          <angular2-multiselect 
          [data]="dropdownRolesList"
          [(ngModel)]="user_roles[i]"
          [settings]="dropdownRolesSettings"
          >
          </angular2-multiselect>  
        </div>

      <div class="col-sm-1" style="display: flex; justify-content: center;">
        <nb-actions size="small">   
          <nb-action icon="nb-close" (click)="removeUser(i)" nbTooltip="Remove User" nbTooltipPlacement="top"></nb-action> 
        </nb-actions>
      </div>
      
    </div>
  </nb-card-body>
</nb-card>