@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  .icon {
    display: inline-block;
    width: 4rem;
    padding: 0;
    text-align: center;
    font-size: 2.25rem;
    color: red; 

    i:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .nb-icons .icon {
    padding: 0.75rem 0;
    font-size: 1.75rem;
}

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }

  .member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid nb-theme(separator);
    }
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nb-user /deep/ {
    .info-container {
      @include nb-ltr(margin-left, 0.875rem);
      @include nb-rtl(margin-right, 0.875rem);
    }

    .user-name {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.25rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .user-title {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
    }
}
}
