
<nb-card>
  <nb-card-header>
    <div class="header-content">
      <div>Group {{groupName}}</div>
      <button nbButton shape="rectangle" size="medium" status="danger" (click)="deleteGroup()">Delete Group</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-users-table-widget *ngIf="members" [members]="members"></ngx-users-table-widget>
  </nb-card-body>
  
</nb-card>

<button *ngIf="!showSaveButton" nbButton shape="rectangle" size="medium" status="success" (click)="saveGroup()">Save Group</button>

<nb-alert status="warning" *ngIf="fewUsers" closable (close)="onCloseWarn()">
  Groups must at least have one member !
</nb-alert>

