// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$blue-dark: #337ab7;
$blue-slider: #cbe0f2;
$blue-buttons: #337ab7;
$blue-buttons-border: #2e6da4;
$blue-buttons-hover: #286090;
$blue-buttons-hover-visited: #204d74;
$blue-menu-active-background: #4c97d8;
$blue-menu-submenu-active-background: #6ea9dd;
$blue-text: #337ab7;

$text-gray: #515151;
$font-family: 'Raleway', Helvetica, Arial, sans-serif;
$text-body: #333333;
$gray-buttons: #383838;
$footer-bg: #383838;

$layout-light-blue: #c0d6e6;

$white: #fff;
$black: #000;

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: ();

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,

  menu-bg: $blue-slider,
  menu-fg: $blue-buttons,
  menu-font-family: $font-family,
  menu-active-bg: $blue-menu-active-background,
  menu-active-fg: $white,
  menu-active-font-weight: 800,
  menu-icon-color: $blue-buttons,
  menu-icon-active-color: $white,
  menu-icon-font-size: 1.5rem,

  menu-submenu-bg: $blue-slider,
  menu-submenu-fg: $blue-buttons,
  menu-submenu-active-bg: $blue-menu-submenu-active-background,
  menu-submenu-active-fg: $white,
  menu-submenu-active-font-weight: 800,
  menu-submenu-hover-fg: $blue-buttons-border,

  layout-content-width: 1400px,

  font-main: $font-family,
  font-secondary: Exo,

  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: 	linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #f7fafb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),

  header-bg: $blue-dark,
  header-fg: $blue-slider,
  header-font-family: $font-family,
  header-height: 3.25rem,
  header-shadow: none,

  btn-success-bg: $blue-buttons,
  color-success: $blue-buttons,
  link-color: $blue-buttons,
  link-color-hover: $blue-buttons-hover,
  link-color-visited: $blue-buttons-hover-visited,

), corporate, corporate);
