// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

  $blue_dark: #337ab7;
  $blue_slider: #cbe0f2;
  $blue_buttons: #337ab7;
  $blue_buttons-border: #2e6da4;
  $blue_buttons-hover: #286090;
  $blue_buttons-hover-border: #204d74;
  $blue_text: #337ab7;

  $text_gray: #515151;
  $font_family: "Raleway", Helvetica, Arial, sans-serif;
  $text_body: #333333;
  $text_black: #000;

  $gray_buttons: #383838;

  $footer_bg: #383838;
  $background: #fff;

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: ();

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #2b2d34,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: 	linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #f7fafb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),

  header-bg: $background,
  header-fg: $text_gray,
  header-font-family: $font_family,

  actions-bg: $text_body,
  actions-font-family: $font_family,
  actions-separator: $text_black,
), corporate, corporate);
