<div class="row">
  <div class="col-md-6">
    <h2>Create Group</h2>
    <label for="groupName" class="form-control-label">Group Name</label>
    <input type="text" [(ngModel)]="groupName" nbInput fullWidth placeholder="Group Name" name="groupName">
  </div>
  <div class="col-md-6">
    <ngx-add-user-widget (add)="addUser($event)"></ngx-add-user-widget>
  </div>
</div>

<nb-card>
  <nb-card-header>Group Users</nb-card-header>
  <nb-card-body>
    <div class="row" style="margin-top: 10px;" *ngFor="let user of users; let i = index">
      <div class="input-group col-sm-6">
        <input type="email" [(ngModel)]="user.email" nbInput fullWidth placeholder="User Email">
      </div>
      <nb-checkbox [(ngModel)]="user.canEdit" class="col-sm-2">ViewOnly</nb-checkbox>
      <nb-actions class="col-sm-4" size="medium">   
        <nb-action icon="nb-close" (click)="removeUser(i)" nbTooltip="Remove User" nbTooltipPlacement="top"></nb-action> 
      </nb-actions>
    </div>
  </nb-card-body>
</nb-card>

<button nbButton shape="rectangle" size="medium" (click)="sendGroup()">Create Group</button>


<nb-alert status="warning" *ngIf="fewUsers" closable (close)="onCloseWarn()">
  Groups must at least have one member !
</nb-alert>

<nb-alert status="success" *ngIf="groupCreatedSuccess" closable>
  Success you created a group.
</nb-alert>


<!--
  <button (click)="widget.addUser('col-sm-4', 'col-sm-4', 'col-sm-4')">Add User</button>
  <button (click)="print()">Print</button>
  <ngx-add-user-widget #widget></ngx-add-user-widget>
  -->
