<div class="row">
  <div class="col-md-12">
    <h2>Create Group</h2>
    <label for="groupName" class="form-control-label">Group Name</label>
    <input type="text" [(ngModel)]="groupName" nbInput fullWidth placeholder="Group Name" name="groupName">
  </div>
  <div class="col-md-12" style="margin-top: 1em;">
    <h4>Group Users</h4>
    <ngx-add-user-widget [members]="members" [user_perms]="user_perms" [user_roles]="user_roles"></ngx-add-user-widget>
  </div>
</div>

<button nbButton shape="rectangle" size="medium" (click)="sendGroup()">Create Group</button>

<nb-alert status="warning" *ngIf="fewUsers" closable (close)="onCloseWarn()">
  Groups must at least have one member !
</nb-alert>

<nb-alert status="success" *ngIf="groupCreatedSuccess" closable>
  Success you created a group.
</nb-alert>
